.header-page {
  padding: 10px 20px;
  background-color: #0e0e0e;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-page .logo {
  width: 130px;
}
.header .logo {
  margin-right: 40px;
}

.logo-large {
  width: 290px !important;
}
.logo-medium {
  width: 200px !important;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .header-page {
    padding: 10px;
    height: 140px;
    align-items: flex-end;
  }
  .logo-large {
    width: 230px !important;
  }
  .logo-medium {
    padding-bottom: 12px;
  }
  .header .logo {
    width: 80px;
    margin-left: 20px;
  }
  .container {
    padding: 20px;
  }
  .container h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .container p {
    text-align: justify;
    max-width: 1400px;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .header-page {
    height: 120px;
  }
  .logo-medium {
    padding-bottom: 8px;
  }
}
